<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout-2.css">
    <title>Layout 2</title>
</head>
<body>
    <div id="geral">
        <div id="cabecalho"> 
            <h1>Cabecalho</h1>
            <p>
                Um bom local para se descrever/apresentar a página e colocar uma imagem principal
            </p>
        </div>

        <div id="esquerda">
            <p>
                Nessa lateral, pode-se colocar links para outras páginas, menus, etc.
            </p>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
                <li><a href="#">Link 6</a></li>
                <li><a href="#">Link 7</a></li>
            </ul>

        </div>

        <div id="conteudo">
            <h2>Conteudo</h2>
            <p>
                O conteudo e o local onde voce coloca os textos, imagens, videos, etc.
            </p>

            <h2>Titulo 1</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aliquid obcaecati iste cum tenetur quos nihil doloribus reprehenderit deserunt at eveniet adipisci neque, saepe, eos culpa maxime recusandae odit sit nesciunt dolorem harum sint quo pariatur vero! Odio ea dicta alias illum temporibus deserunt, totam repudiandae velit vitae repellat et ex dolor eveniet facilis ad, nobis error ipsam, labore porro fuga. Pariatur dolorem deserunt velit vel modi odio sequi quidem saepe mollitia et dolores nostrum quod, dolor ea excepturi. Quas ut velit, soluta sapiente ad esse eius? Ab quas quos voluptatum dolore consectetur labore excepturi repudiandae reprehenderit. Vero, placeat beatae!
            </p>

            <h2>Titulo 2</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aliquid obcaecati iste cum tenetur quos nihil doloribus reprehenderit deserunt at eveniet adipisci neque, saepe, eos culpa maxime recusandae odit sit nesciunt dolorem harum sint quo pariatur vero! Odio ea dicta alias illum temporibus deserunt, totam repudiandae velit vitae repellat et ex dolor eveniet facilis ad, nobis error ipsam, labore porro fuga. Pariatur dolorem deserunt velit vel modi odio sequi quidem saepe mollitia et dolores nostrum quod, dolor ea excepturi. Quas ut velit, soluta sapiente ad esse eius? Ab quas quos voluptatum dolore consectetur labore excepturi repudiandae reprehenderit. Vero, placeat beatae!
            </p>

        </div>

        <div id="rodape">
            
            <p>
                O rodape e o local onde voce coloca informacoes sobre a pagina, como contatos, redes sociais, etc.
            </p>

            <p>
                &copy; 2024 - Todos os direitos reservados
            </p>
        </div>
    </div>
</body>
</html>